* {
    box-sizing: border-box;
}

body,
html {
    max-width: 350px;
    max-height: 400px;
    height: 400px;
    width: 350px;
    padding: 0;
    margin: 0;
}

body {
    border: 1px solid palegreen;
}

header,
footer,
#footer-server-on {
    background-color: #c4916d;
    max-height: 50px;
    display: flex;
}

header {
    justify-content: space-evenly;
    align-items: center;
}

header img,
footer img {
    max-width: 100%; 
    max-height: 100%;
}

#center-container {
    height: calc(100% - 100px);
    background-color: white;
    overflow-y: scroll;

    -ms-overflow-style: none; 
    scrollbar-width: none;
}

#center-container::-webkit-scrollbar {
    display: none;
}



/* Server offline */
#overlay-server-off {
    /* display: flex; */ 
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#overlay-server-off h2,
#overlay-server-off p {
    margin: 0;
    padding: 0;
}

/* Server on */

#overlay-server-on {
    display: flex;
    /* display: none; */
    word-wrap: break-word;
    flex-direction: column;
}

#footer-server-on {
    width: 100%;
    height: 100%;
}

#footer-server-on button {
    all: unset;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer-server-on button:hover {
    background-color: #824113;
}

/* Tooltip */
.tooltip {
    user-select: none;
}

.item-style {
    display: flex;
    flex-direction: column;
}

.input-style {
    margin-left: 20px;
}


.btnStyles {
    background: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    filter: grayscale(1);
}

.btnParent {
    display: flex;
    gap: 2px;
}

.select-style {
    width: 80px;
    margin-left: 20px;
}

.saveEntry-btn {
    float: right;
    filter: grayscale(1);
}

.clickableTextStyle {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}